<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <div id="page-content">
        @RenderBody()
    </div>

</body>
</html>