@font-face {
    font-family: 'Joan';
    src: url('../fonts/Joan-Regular.ttf');
}

html {
    font-size: larger;
    font-family: Joan, serif;
    hyphens: auto;
}

p {
    margin: 0.1rem 0;
}

@media (min-width: 800px) {
    html {
        font-size: xx-large;
    }
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

body {
    margin-bottom: 60px;
}

.stat-block{
    grid-area: stats;
    max-width: 20vw;
}

.stat-block-stat-header {
    text-align: left;
    padding: 0 1rem;
}

.stat-block-stat-score {
    text-align: right;
    padding: 0 1rem;
    
}

.gear-name{
    text-align: right;
    padding: 0 1rem; 
}

.character-sheet {
    display: grid;
    grid-template-areas: 
        "basics weapon stats"
        "basics gear gear";
    grid-gap: 1rem;
    padding-right: 0.5rem;
}

@media (max-width: 800px) {
    .character-sheet {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1500px) {
    .character-sheet {
        max-width: 50vw;
    }
}

.character-basics {
    max-width: fit-content;
    grid-area: basics;
}

.ability-description {
    font-size: medium;

}

.character-gear {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-collapse: collapse;
    border: 3px solid black;
    grid-area: gear;
    max-height: 25vh;
    max-width: 60vw;
}

.weapon-block {
    grid-area: weapon;
    padding: 0.4rem;
}

.weapon-block h2 {
    margin: 0;
}

.character-gear h2 {
    margin: 0;
    
}
.character-gear ul {
    list-style-type: none;
    margin: 0;
}

.kill-pirate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kill-pirate p {
    font-size: small;
}

.skull-button{
    background-image:url("../img/skull-button-200x226.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: cover;
    
    height: 55px;
    width: 50px;
    
    cursor: default;
    
    border: none;
    outline: none;
    font-style: normal;
    text-align: center;
}

.stat-block > table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
}
.stat-block tr:nth-child(odd) {
    background-color: #e3e3e3;
}

.stat-block tr:nth-child(even) {
    background-color: #ffffff;
}


tbody tr:nth-child(odd) {
    background-color: #e3e3e3;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-content{
    max-width: 90vw;
    margin: auto;
}

@media print {
    .no-print{
        display: none;
    }
}

@media print and (orientation: portrait) {
    h1 {
        font-size: 1.5rem;
    }
    
    #page-content {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;
        margin: 0;
        font-size: x-large;
    }
    
    #page-content .character-sheet:nth-child(3n){
        break-after: page;
        margin-top: 1vh;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .character-sheet {
        max-height: 45vh;
        height: 45vh;
        max-width: 95vw;
        padding: 2vh 5vw 0 5vw;
        
    }
    
    .character-basics{
        max-width: 30vw;
        width: 30vw;
        padding-right: 0.5rem;
    }
    
    .stat-block{
        max-width: 55vw;
        width: 55vw;
        max-height: 50%;
    }
    .character-gear {
        max-height: 25vh;
        max-width: 60vw;
    }
    
    .character-gear ul {
        padding: 0;
    }
    .stat-block-stat-score {
        font-size: xx-large;
    }
    
    .stat-block-stat-header{
        width: 50%;
        padding-left: 0.1rem;
    }
    .no-print{
        display: none;
    }
}

@media print and (orientation: landscape) {
    #page-content .character-sheet {
        break-after: page;
    }

    .character-sheet {
        max-height: 95vh;
        height: 95vh;
        max-width: 95vw;
        padding: 2vh 5vw 0 5vw;

    }
    
    .character-gear{
        max-height: 80%;
        height: 80%;
    }

    .no-print{
        display: none;
    }
}