@using System.Text.RegularExpressions
@model PirateBorgGenerator.Finalize.FinalCharacter
<div class="character-sheet">
    <div class="character-basics">
        <div class="character-name-and-class">
            <h1>@Model.name</h1>
            <p>@Model.characterClass</p>
            <p>@Model.classAbility</p>
            <p class="ability-description">@Model.classAbilityDescription</p>
        </div>
        <hr>
        <div class="devils-luck">
            <p>HP: @Model.hitPoints</p>
            <p>Devil's Luck: @Model.devilsLuck (@Model.devilsLuckDie)</p>
        </div>
        <hr>
        <div class="optional-info">
            @if (!string.IsNullOrWhiteSpace(Model.tallTale))
            {
                @if (Regex.IsMatch(@Model.tallTale, @"[AEIOU].*"))
                {
                    <p>Is an @Model.tallTale</p>
                }
                else
                {
                    <p>Is a @Model.tallTale</p>
                }
            }
            @if (!string.IsNullOrWhiteSpace(Model.hauntedSoul))
            {
                @if (Regex.IsMatch(@Model.hauntedSoul, @"[AEIOU].*"))
                {
                    <p>Is an @Model.hauntedSoul</p>
                }
                else
                {
                    <p>Is a @Model.hauntedSoul</p>
                }
            }
        </div>
    </div>
    <vc:weapon-block weapon="@Model.startingWeapon" description="@Model.weaponDescription" die-roll="@Model.weaponDie"></vc:weapon-block>
    <vc:stat-block stat-block="Model.statBlock"></vc:stat-block>
    
    <div class="character-gear">
        <h2>Gear</h2>
        <ul>
            @if (!string.IsNullOrWhiteSpace(Model.container))
            {
                <li>@Model.container</li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.cheapGear))
            {
                <li>@Model.cheapGear</li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.fancyGear))
            {
                <li>@Model.fancyGear</li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.startingHat))
            {
                <li>@Model.startingHat</li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.startingClothes))
            {
                <li>@Model.startingClothes</li>
            }
        </ul>
    </div>
</div>