﻿@model PirateBorgGenerator.Character.StatBlock

<div class="stat-block">
    <table>
        <tr>
            <th scope="row" class="stat-block-stat-header">Strength</th>
            <td class="stat-block-stat-score">@Model.strength</td>
        </tr>
        <tr>
            <th scope="row" class="stat-block-stat-header">Toughness</th>
            <td class="stat-block-stat-score">@Model.toughness</td>
        </tr>
        <tr>
            <th scope="row" class="stat-block-stat-header">Presence</th>
            <td class="stat-block-stat-score">@Model.presence</td>
        </tr>
        <tr>
            <th scope="row" class="stat-block-stat-header">Agility</th>
            <td class="stat-block-stat-score">@Model.agility</td>
        </tr>
        <tr>
            <th scope="row" class="stat-block-stat-header">Spirit</th>
            <td class="stat-block-stat-score">@Model.spirit</td>
        </tr>
    </table>
</div>

