﻿@page
@model PirateBorgGenerator.Api.Pages.CustomGenerator

@{
    Layout = "Shared/_Layout";
}
<div class="custom-generator-form">
    <form method="post" asp-page="/CustomPirates">
        <label for="Brute-select">Do you want Brute?</label>
        <input type="checkbox" id="Brute-select" asp-for="CustomCharacterGeneratorModel.EnableBrute" />
        <label for="Rapscallion-select">Do you want Rapscallion?</label>
        <input type="checkbox" id="Rapscallion-select" asp-for="CustomCharacterGeneratorModel.EnableRapscallion" />
        <label for="Buccaneer-select">Do you want Buccaneer?</label>
        <input type="checkbox" id="Buccaneer-select" asp-for="CustomCharacterGeneratorModel.EnableBuccaneer" />
        <label for="Swashbuckler-select">Do you want Swashbuckler?</label>
        <input type="checkbox" id="Swashbuckler-select" asp-for="CustomCharacterGeneratorModel.EnableSwashbuckler" />
        <label for="Zealot-select">Do you want Zealot?</label>
        <input type="checkbox" id="Zealot-select" asp-for="CustomCharacterGeneratorModel.EnableZealot" />
        <label for="Sorcerer-select">Do you want Sorcerer?</label>
        <input type="checkbox" id="Sorcerer-select" asp-for="CustomCharacterGeneratorModel.EnableSorcerer" />
        <label for="number-pirates">How many scallywags ye be needin'?</label>
        <input type="number" id="number-pirates" asp-for="CustomCharacterGeneratorModel.NumPirates">
        
        <input type="submit" value="Set Sail!">
    </form>
</div>


<div>
    
</div>