@page
@model PirateBorgGenerator.Api.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Roll up a Scurvy Dog";
    Layout = "Shared/_Layout";
}
<vc:character-sheet></vc:character-sheet>
<div class="no-print kill-pirate">
    <a href="/">
        <img class="skull-button" src="img/skull-button-200x226.png" alt="To Davy Jones. . .">
    </a>
    <div>
        <p class="no-print">I don't like this one. . .</p>
    </div>

</div>
<div class="no-print">
    <a href="/CustomGenerator">Want to limit which scallywags ye create?</a>
    @* Bring this back when we add custom generation *@
    @* <form class="form" method="post"> *@
    @*     <div class="form-container"> *@
    @*         <label for="character-name">What Be Yer Name?</label> *@
    @*         <input type="text" class="text-input" id="character-name" asp-for="CharacterPirateRequest!.Name"/> *@
    @*     </div> *@
    @*     <div class="form-container"> *@
    @*         <label for="optional-classes">Do ye crave the chance at bein' undead or mythical?</label> *@
    @*         <input type="checkbox" class="checkbox-input" id="optional-classes" asp-for="CharacterPirateRequest!.Optional"/> *@
    @*     </div> *@
    @*     <input type="submit" value="Set Sail!" class="submit"/> *@
    @* </form> *@
    <h1>Need more?</h1>
    <form method="post" asp-page="/MoarPirates">
    @* <form method="post"> *@
        <div>
            <label for="number-pirates">How many scallywags ye be needin'?</label>
            <input type="number" id="number-pirates" asp-for="PirateRequest.NumPirates">
        </div>
        <div>
            <label for="optional-pirates">Do ye want them to be extra special?</label>
            <input type="checkbox" id="optional-pirates" asp-for="PirateRequest.Optional">
        </div>
        <input type="submit" value="Moar Pirates!">
    </form>
</div>
