﻿@page
@model PirateBorgGenerator.Api.Pages.MakeNPirates

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "Meat to the Slaughter";
}
<div class="no-print">
    <form method="post" asp-page="/MoarPirates">
        <div>
            <label for="number-pirates">How many scallywags ye be needin'?</label>
            <input type="number" id="number-pirates" asp-for="Request.NumPirates">
        </div>
        <div>
            <label for="optional-pirates">Do ye want them to be extra special?</label>
            <input type="checkbox" id="optional-pirates" asp-for="Request.Optional">
        </div>
        <input type="submit" value="Moar Pirates!">
    </form>
</div>