﻿@page
@model PirateBorgGenerator.Api.Pages.MoarPirates

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Moar Pirates";
}

@for (var i = 0; i < Model.Pirates.Length; i+=2)
{
    <vc:character-sheet character="Model.Pirates[i]"></vc:character-sheet>
    <hr/>
    @if (i + 1 < Model.Pirates.Length)
    {
        <vc:character-sheet character="Model.Pirates[i+1]"></vc:character-sheet>
    }
    
}
