﻿@model (string weapon, string description, string dieRoll)

@if (!string.IsNullOrWhiteSpace(Model.weapon))
{
<div class="weapon-block">
    <h2>Weapon</h2>
    <p>@Model.weapon (@Model.dieRoll)</p>
    @if (!string.IsNullOrWhiteSpace(Model.description))
    {
        <p class="ability-description">@Model.description</p>
    }
</div>
}
